

*{
  border:0;
  margin:0;
}

body {
  background-color:black;
}

.clicker {
  color:#888;
}
.clicker_new {
  display:none;
}
.menu {
  display:none;
  color:#fff;
}

@media screen and (max-width:350px) {
  .clicker p {
    display:none;
  }
  .clicker_new {
    display:block;
  }
  .menu {
    display:block;
  }
}

@media screen and (min-width:1000px) {
  .clicker {
    text-align:center;
  }

  .clicker p {
    display:block;
  }

  .menu {
    display:none;
  }
}